.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  background-color: #f2f2f2;
  height: 100%;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
}

.sidebar a {
  color: black;
  text-decoration: none;
  padding-left: 26px;
  padding-top: 8px;
  padding-bottom: 8px;
  display: block;
  position: relative;
}

.sidebar a {
  border-radius: 4px;
  transition: background-color 0.2s ease-in-out;
}

.sidebar a:hover {
  background-color: #eee;
  color: #007bff;
}

.sidebar a:hover #dropdown {
  display: block;
}

#dropdown {
  position: absolute;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  margin-top: 5px;
  z-index: 1;
}

#dropdown a {
  display: block;
  text-decoration: none;
  padding: 5px;
}

#dropdown a:hover {
  background-color: #eee;
}
