<div th:fragment="addGoal-fragment">
  <div
    class="modal fade"
    id="addGoalModal"
    aria-labelledby="addGoalModalLabel"
    aria-hidden="true"
    style="padding: 30px"
  >
    <div class="modal-dialog">
      <div class="modal-content" style="padding: 20px">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">
            <strong>Set Your Goal</strong>
          </h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <div class="form-expense-container" style="width: 440px">
            <h3>
              <strong
                ><i
                  class="fa-solid fa-money-check-dollar"
                  style="margin-right: 17px"
                ></i
                >Add Goal</strong
              >
            </h3>
            <form
              style="margin-top: 30px"
              method="post"
              th:action="@{/addGoal}"
              th:object="${goal}"
            >
              <div class="mb-3">
                <label for="titleInputGoal" class="form-label"
                  >Goal Title</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="titleInputGoal"
                  placeholder="Enter title"
                  required
                />
              </div>
              <div class="mb-3">
                <label for="categorySelect" class="form-label">Category</label>
                <select class="form-select" id="categorySelectGoal" required>
                  <option value="All">All</option>
                  <option value="Education">Education</option>
                  <option value="Electricity Bill">Electricity Bill</option>
                  <option value="Fitness">Fitness</option>
                  <option value="Food & Beverage">Food & Beverage</option>
                  <option value="Fun & Entertainment">
                    Fun & Entertainment
                  </option>
                  <option value="Gas Bill">Gas Bill</option>
                  <option value="Gifts & Donations">Gifts & Donations</option>
                  <option value="Home Maintenance">Home Maintenance</option>
                  <option value="Home Services">Home Services</option>
                  <option value="Houseware">Houseware</option>
                  <option value="Insurances">Insurances</option>
                  <option value="Internet Bill">Internet Bill</option>
                  <option value="Investment">Investment</option>
                  <option value="Makeup">Makeup</option>
                  <option value="Medical Check-up">Medical Check-up</option>
                  <option value="Utility Bills">Utility Bills</option>
                  <option value="Outgoing Transfer">Outgoing Transfer</option>
                  <option value="Pay Interest">Pay Interest</option>
                  <option value="Personal Items">Personal Items</option>
                  <option value="Pets">Pets</option>
                  <option value="Phone Bill">Phone Bill</option>
                  <option value="Rentals">Rentals</option>
                  <option value="Streaming Service">Streaming Service</option>
                  <option value="Television Bill">Television Bill</option>
                  <option value="Transportation">Transportation</option>
                  <option value="Vehicle Maintenance">
                    Vehicle Maintenance
                  </option>
                  <option value="Water Bills">Water Bills</option>
                  <option value="Others">Others</option>
                </select>
              </div>
              <div class="mb-3">
                <label for="startDateInputGoal" class="form-label"
                  >Start Date</label
                >
                <input
                  type="date"
                  class="form-control"
                  id="startDateInputGoal"
                  placeholder="Enter date"
                  required
                />
              </div>
              <div class="mb-3">
                <label for="endDateInputGoal" class="form-label"
                  >End Date</label
                >
                <input
                  type="date"
                  class="form-control"
                  id="endDateInputGoal"
                  placeholder="Enter date"
                  required
                />
              </div>
              <div class="mb-3">
                <label for="descriptionInputGoal" class="form-label"
                  >Description</label
                >
                <textarea
                  class="form-control"
                  id="descriptionInputGoal"
                  rows="3"
                  placeholder="Enter description"
                ></textarea>
              </div>
              <button
                type="submit"
                class="btn-green"
                style="margin-left: 5px; margin-right: 5px; font-size: 15px"
              >
                Add
              </button>
              <button
                type="button"
                class="btn-secondary"
                data-bs-dismiss="modal"
              >
                Close
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
