<div th:fragment="expenseModal-fragment">
  <div
    class="modal fade"
    id="exampleModalExpense"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
    style="padding: 30px"
  >
    <div class="modal-dialog">
      <div class="modal-content" style="padding: 20px">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">
            <strong>See Expense History</strong>
          </h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <h3 style="color: #e92a32">
            <i class="fa-solid fa-calendar-days" style="margin-right: 13px"></i
            >Choose Date
          </h3>
          <form
            th:action="@{/customHistoryExpense}"
            method="post"
            style="margin-top: 30px"
            onsubmit="return validateExpenseDates()"
          >
            <div class="mb-3">
              <label for="startDateInputExpense" class="form-label">Start Date</label>
              <input
                type="date"
                class="form-control"
                id="startDateInputExpense"
                placeholder="Enter date"
                th:name="startDate"
              />
            </div>
            <div class="mb-3">
              <label for="endDateInputExpense" class="form-label">End Date</label>
              <input
                type="date"
                class="form-control"
                id="endDateInputExpense"
                placeholder="Enter date"
                th:name="endDate"
              />
            </div>
            <div class="mb-3">
              <input type="checkbox" id="enableCategoryExpense" />
              <label for="enableCategoryExpense" class="form-label"
                ><storng>Category (Optional)</storng></label
              >
              <select
                class="form-select"
                id="categorySelectExpense"
                th:name="category"
                disabled
              >
                <option value="Education">Education</option>
                <option value="Electricity Bill">Electricity Bill</option>
                <option value="Fitness">Fitness</option>
                <option value="Food & Beverage">Food & Beverage</option>
                <option value="Fun & Entertainment">Fun & Entertainment</option>
                <option value="Gas Bill">Gas Bill</option>
                <option value="Gifts & Donations">Gifts & Donations</option>
                <option value="Home Maintenance">Home Maintenance</option>
                <option value="Home Services">Home Services</option>
                <option value="Houseware">Houseware</option>
                <option value="Insurances">Insurances</option>
                <option value="Internet Bill">Internet Bill</option>
                <option value="Investment">Investment</option>
                <option value="Makeup">Makeup</option>
                <option value="Medical Check-up">Medical Check-up</option>
                <option value="Utility Bills">Utility Bills</option>
                <option value="Outgoing Transfer">Outgoing Transfer</option>
                <option value="Pay Interest">Pay Interest</option>
                <option value="Personal Items">Personal Items</option>
                <option value="Pets">Pets</option>
                <option value="Phone Bill">Phone Bill</option>
                <option value="Rentals">Rentals</option>
                <option value="Streaming Service">Streaming Service</option>
                <option value="Television Bill">Television Bill</option>
                <option value="Transportation">Transportation</option>
                <option value="Vehicle Maintenance">Vehicle Maintenance</option>
                <option value="Water Bills">Water Bills</option>
                <option value="Other">Other</option>
              </select>
            </div>
            <div
              class="modal-footer"
              style="justify-content: left; margin-top: 30px"
            >
              <button type="submit" class="btn-red">Go</button>
              <button
                type="button"
                class="btn-secondary"
                data-bs-dismiss="modal"
              >
                Close
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
