<div th:fragment="sidebar-fragment">
  <div class="sidebar">
    <div
      class="user-info"
      style="margin-left: 23px; margin-top: 35px; margin-bottom: 15px"
      xmlns:th="http://www.thymeleaf.org"
    >
      <h5 class="username" style="color: white">
        <i class="fa-solid fa-user" style="margin-right: 15px"> </i
        ><span th:text="${username}"></span>
      </h5>
    </div>
    <div class="user-info" style="margin-left: 24px; margin-bottom: 30px">
      <h6 class="username" style="color: white">
        Income: <span style="color: #04bade" th:text="'$' + ${totalIncomeGlobal}"></span>
      </h6>
      <h6 class="username" style="color: white">
        Expense: <span style="color: #e92a32" th:text="'$' + ${totalExpenseGlobal}"></span>
      </h6>
    </div>
    <a th:href="@{/}">
      <i class="fa-solid fa-house" style="margin-right: 5px"></i> Home</a
    >
    <a th:href="@{/addIncome}">
      <i class="fa-solid fa-plus" style="margin-right: 5px"></i> Add Income</a
    >
    <a th:href="@{/addExpense}">
      <i class="fa-solid fa-plus" style="margin-right: 5px"></i> Add Expense</a
    >
    <a th:href="@{/budget}">
      <i class="fa-solid fa-bars-progress" style="margin-right: 5px"></i>
      Budget</a
    >
    <a th:href="@{/seeAllIncomes}">
      <i class="fa-solid fa-money-bill-1-wave" style="margin-right: 5px"></i>
      View Incomes</a
    >
    <a th:href="@{/seeAllExpenses}">
      <i
        class="fa-solid fa-circle-dollar-to-slot"
        style="margin-right: 5px"
      ></i>
      View Expenses</a
    >
    <a href="#"
      ><i class="fa-solid fa-circle-info" style="margin-right: 5px"></i>About</a
    >
    <a href="/logout"
      ><i class="fa-solid fa-right-from-bracket" style="margin-right: 8px"></i
      >Logout</a
    >
  </div>
</div>
