.btn-orange {
  background-color: orangered;
  color: white;
  border-radius: 4px;
  opacity: 0.9;
  height: 30px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 14px;
  padding-right: 14px;
  border: none;
}

.btn-orange:hover {
  background-color: red;
  color: white;
}
