<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Test</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="/sidebar.css">
    <link rel="stylesheet" href="/center.css">
    <link rel="stylesheet" href="/expenseModal.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>
        .content {
        margin-left: 250px;
        margin-top: 40px;
        }
        canvas {
            margin: 0 auto;
            height: 350px;
        }
        .accordion-item {
            background: none;
            border: none;
        }

        .accordion-button {
            background-color: transparent;
            color: inherit;
            border: none;
            border-radius: 0;
            padding: 1rem;
            margin: 0;
            text-align: left;
        }
        .accordion-item:first-child .accordion-button {
            background-color: transparent;
        }
        .accordion-button:focus {
            box-shadow: none;
            outline: none;
        }
        .accordion-button:hover {
            color: #FF5733;
        }
        .accordion-collapse {
            border-top: 1px solid #dee2e6;
        }

        .accordion-body {
            padding: 1rem;
        }
        .modal {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 600px;
            height: 650px;
        }
    </style>
</head>
<body>
<!-- Modal -->
<div class="modal fade" id="exampleModal"  aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h3>Choose Date</h3>
                <form action="#" style="margin-top: 30px">
                    <div class="mb-3">
                        <label for="startDateInput" class="form-label">Start Date</label>
                        <input type="date" class="form-control" id="startDateInput" placeholder="Enter date">
                    </div>
                    <div class="mb-3">
                        <label for="endDateInput" class="form-label">End Date</label>
                        <input type="date" class="form-control" id="endDateInput" placeholder="Enter date">
                    </div>
                    <div class="mb-3">
                        <label for="categorySelect" class="form-label">Category (Optional)</label>
                        <select class="form-select" id="categorySelect">
                            <option value="food">Food</option>
                            <option value="transportation">Transportation</option>
                            <option value="housing">Housing</option>
                            <option value="utilities">Utilities</option>
                            <option value="entertainment">Entertainment</option>
                            <option value="other">Other</option>
                        </select>
                    </div>
                    <button type="submit" class="btn" style="margin-left: 5px; margin-right: 5px">Go</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
<div>
    <div class="sidebar">
        <div class="user-info" style="margin-left: 23px; margin-top: 35px; margin-bottom: 15px">
            <h5 class="username" style="color: orange">JOHN DOE</h5>
        </div>
        <div class="user-info" style="margin-left: 24px; margin-bottom: 30px">
            <h6 class="username">BALANCE: <span style="color: #FF5733">$34534</span></h6>
        </div>
        <a th:href="@{/}"> <i class="fa-solid fa-house" style="margin-right: 5px;"></i> HOME</a>
        <a th:href="@{/addIncome}"> <i class="fa-solid fa-plus" style="margin-right: 5px;"></i> ADD INCOME</a>
        <a th:href="@{/addExpense}"> <i class="fa-solid fa-plus" style="margin-right: 5px;"></i> ADD EXPENSE</a>
        <!--
        <div id="RecordDropdown">
        <a href="#"><i class="fa-solid fa-clipboard-list" style="margin-right: 5px;"></i>Record</a>
            <div class="dropdown-content">
                <a href="#">Income Record</a>
                <a href="#">Expense Record</a>
            </div>
        </div>
        -->

        <div>
            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink5" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa-solid fa-clipboard-list" style="margin-right: 10px;"></i>RECORD
            </a>

            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="#">INCOME RECORD</a>
                <a class="dropdown-item" href="#">EXPENSE RECORD</a>
            </div>
        </div>

        <div class="dropdown">
            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fa-solid fa-clipboard-list" style="margin-right: 10px;"></i>RECORD BY DATE
            </a>

            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#exampleModal">CHOOSE DATE</a></li>
                <li><a class="dropdown-item" href="#">CURRENT WEEK</a></li>
                <li><a class="dropdown-item" href="#">CURRENT MONTH</a></li>
                <li><a class="dropdown-item" href="#">LAST 6 MONTHS</a></li>
                <li><a class="dropdown-item" href="#">CURRENT YEAR</a></li>
            </ul>
        </div>
        <a href="#"><i class="fa-solid fa-circle-info" style="margin-right: 5px;"></i>ABOUT</a>
        <a href="#"><i class="fa-solid fa-right-from-bracket" style="margin-right: 8px;"></i>LOGOUT</a>
    </div>

    <div class="content">
        <div class="centering">
            <h2>Empower Your Financial Journey</h2>
            <p>Your Personalized Gateway to Smart Money Management</p>
            <div style="width: 1000px; display: flex; flex-direction: row; justify-content: space-between; align-items: center">
                <div style="width: 500px; display: flex; flex-direction: column;">
                    <h2>SAVE YOUR <span style="color: orange;">MONEY</span></h2>
                    <h5 style="color: grey">Empower your financial journey with our personal finance application and
                        take control of your expenses effortlessly.</h5>
                </div>

                <img style="width: 400px; height: 250px; margin-top: 60px" src="/images/home_money.png">
            </div>
            <div style="margin-top: 100px; width: 900px; display: flex; flex-direction: row; justify-content: space-around;">
                <div class="card" style="width: 400px; background-color: white; border-radius: 5px; box-shadow: 4 4px 6px 0 rgba(0, 0, 0, 0.5);">
                    <div class="card-body" style="display: flex; align-items: center; flex-direction: column">
                        <h3>WALLET BALANCE</h3>
                        <h1 style="color: #FF5733">$234523</h1>
                    </div>
                </div>
                <div class="card" style="display: flex; align-items: center; width: 400px; background-color: white; border-radius: 5px; box-shadow: 4 4px 6px 0 rgba(0, 0, 0, 0.5);">
                    <div class="card-body" style="display: flex; align-items: center; flex-direction: column">
                        <h3>TOTAL EXPENSE</h3>
                        <h1 style="color: #50C878">$2344</h1>
                    </div>
                </div>
            </div>

            <canvas id="myChart" style="width:10px; height:7px; max-width: 50%; margin-top: 100px;"></canvas>
            <div style="display: flex; flex-direction: row; justify-content: space-between; margin-top: 100px;">
                <div style="width: 400px; height: 350px; margin-right: 100px;">
                    <canvas id="barDay" style="margin-top: 40px;  height: 400px"></canvas>
                </div>
                <div style="width: 400px; height: 350px;">
                    <canvas id="barWeek" style="margin-top: 40px;  height: 400px"></canvas>
                </div>
            </div>

            <div style="display: flex; flex-direction: row; justify-content: space-between; margin-top: 100px;">
                <div style="width: 400px; height: 350px; margin-right: 100px;">
                    <canvas id="barMonth" style="margin-top: 40px;  height: 400px"></canvas>
                </div>
                <div style="width: 400px; height: 350px;">
                    <canvas id="barYear" style="margin-top: 40px;  height: 400px"></canvas>
                </div>
            </div>

        </div>

    </div>

</div>
<script src="script.js" defer></script>
<script src="financeMonthlyChart.js" defer></script>
<script src="barChartMonth.js" defer></script>
<script src="barChartYear.js" defer></script>
<script src="barChartDay.js" defer></script>
<script src="barChartWeek.js" defer></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
</body>
</html>