<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Test</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/sidebar.css" />
    <link rel="stylesheet" href="/css/center.css" />
    <link rel="stylesheet" href="/css/expenseModal.css" />
    <link rel="stylesheet" href="/css/body.css" />
    <link rel="stylesheet" href="/css/modal.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <style>
      #openPopup:focus {
        outline: none;
      }
      .content {
        margin-left: 250px;
        margin-top: 50px;
      }
      .btn {
        background-color: #04bade;
        color: white;
        border-radius: 4px;
        opacity: 0.9;
        height: 30px;
        padding-top: 4px;
        padding-bottom: 4px;
        padding-left: 14px;
        padding-right: 14px;
        border: none;
      }

      .btn:hover {
        background-color: #0497c7;
        color: white;
      }
      .btn-expense {
        background-color: #e92a32;
        color: white;
        border-radius: 4px;
        opacity: 0.9;
        height: 30px;
        padding-top: 4px;
        padding-bottom: 4px;
        padding-left: 14px;
        padding-right: 14px;
        border: none;
      }

      .btn-expense:hover {
        background-color: #e92a32;
        color: white;
      }
    </style>
  </head>
  <body>
    <!-- Modal Income-->
    <div
      class="modal fade"
      id="exampleModal"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">
              <strong>See Income History</strong>
            </h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <h3 style="color: #04bade">
              <i
                class="fa-solid fa-calendar-days"
                style="margin-right: 13px"
              ></i
              >Choose Date
            </h3>
            <form
              th:action="@{/customHistoryIncome}"
              method="post"
              style="margin-top: 30px"
              onsubmit="return validateDates()"
            >
              <div class="mb-3">
                <label for="startDateInput" class="form-label"
                  ><storng>Start Date</storng></label
                >
                <input
                  type="date"
                  class="form-control"
                  id="startDateInput"
                  placeholder="Enter date"
                  th:name="startDate"
                />
              </div>
              <div class="mb-3">
                <label for="endDateInput" class="form-label"><storng>End Date</storng></label>
                <input
                  type="date"
                  class="form-control"
                  id="endDateInput"
                  placeholder="Enter date"
                  th:name="endDate"
                />
              </div>
              <div class="mb-3">
                <input type="checkbox" id="enableCategory">
                <label for="enableCategory" class="form-label"
                  ><storng>Category (Optional)</storng></label
                >
                <select
                  class="form-select"
                  id="categorySelect"
                  th:name="category"
                  disabled
                >
                  <option value="Capital Gains">Capital Gains</option>
                  <option value="Passive Income">Passive Income</option>
                  <option value="Active Income">Active Income</option>
                  <option value="Rental Income">Rental Income</option>
                  <option value="Royalty Income">Royalty Income</option>
                  <option value="Dividends">Dividends</option>
                  <option value="Interest">Interest</option>
                  <option value="Profit Income">Profit Income</option>
                  <option value="Salary">Salary</option>
                  <option value="Commission">Commission</option>
                  <option value="Government Payments">Government Payments</option>
                  <option value="Others">Others</option>
                </select>
              </div>
              <div class="modal-footer" style="justify-content: left; margin-top: 30px;">
                <button type="submit" class="btn">Go</button>
                <button
                  type="button"
                  class="btn-secondary"
                  data-bs-dismiss="modal"
                >
                  Close
                </button>
              </div>
            </form>
          </div>
          
        </div>
      </div>
    </div>
    <div>
      <!-- Modal Expense-->
      <div
      class="modal fade"
      id="exampleModalExpense"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">
              <strong>See Expense History</strong>
            </h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <h3 style="color: #e92a32">
              <i
                class="fa-solid fa-calendar-days"
                style="margin-right: 13px"
              ></i
              >Choose Date
            </h3>
            <form
              th:action="@{/customHistoryExpense}"
              method="post"
              style="margin-top: 30px"
              onsubmit="return validateDates()"
            >
              <div class="mb-3">
                <label for="startDateInput" class="form-label"
                  >Start Date</label
                >
                <input
                  type="date"
                  class="form-control"
                  id="startDateInput"
                  placeholder="Enter date"
                  th:name="startDate"
                />
              </div>
              <div class="mb-3">
                <label for="endDateInput" class="form-label">End Date</label>
                <input
                  type="date"
                  class="form-control"
                  id="endDateInput"
                  placeholder="Enter date"
                  th:name="endDate"
                />
              </div>
              <div class="mb-3">
                <label for="categorySelect" class="form-label"
                  >Category (Optional)</label
                >
                <select
                  class="form-select"
                  id="categorySelect"
                  th:name="category"
                >
                  <option value="Education">Education</option>
                  <option value="Electricity Bill">Electricity Bill</option>
                  <option value="Fitness">Fitness</option>
                  <option value="Food & Beverage">Food & Beverage</option>
                  <option value="Fun & Entertainment">Fun & Entertainment</option>
                  <option value="Gas Bill">Gas Bill</option>
                  <option value="Gifts & Donations">Gifts & Donations</option>
                  <option value="Home Maintenance">Home Maintenance</option>
                  <option value="Home Services">Home Services</option>
                  <option value="Houseware">Houseware</option>
                  <option value="Insurances">Insurances</option>
                  <option value="Internet Bill">Internet Bill</option>
                  <option value="Investment">Investment</option>
                  <option value="Makeup">Makeup</option>
                  <option value="Medical Check-up">Medical Check-up</option>
                  <option value="Utility Bills">Utility Bills</option>
                  <option value="Outgoing Transfer">Outgoing Transfer</option>
                  <option value="Pay Interest">Pay Interest</option>
                  <option value="Personal Items">Personal Items</option>
                  <option value="Pets">Pets</option>
                  <option value="Phone Bill">Phone Bill</option>
                  <option value="Rentals">Rentals</option>
                  <option value="Streaming Service">Streaming Service</option>
                  <option value="Television Bill">Television Bill</option>
                  <option value="Transportation">Transportation</option>
                  <option value="Vehicle Maintenance">Vehicle Maintenance</option>
                  <option value="Water Bills">Water Bills</option>
                  <option value="Other">Other</option>
                </select>
              </div>
              <div class="modal-footer" style="justify-content: left; margin-top: 30px;">
                <button type="submit" class="btn-expense">Go</button>
                <button
                  type="button"
                  class="btn-secondary"
                  data-bs-dismiss="modal"
                >
                  Close
                </button>
                
              </div>
            </form>
          </div>
          
        </div>
      </div>
    </div>
    <div>


      <div class="sidebar">
        <div
                class="user-info"
                style="margin-left: 23px; margin-top: 35px; margin-bottom: 15px"
                xmlns:th="http://www.thymeleaf.org"
        >
          <h5 class="username" style="color: white">
            <i class="fa-solid fa-user" style="margin-right: 15px"> </i
            ><span th:text="${username}"></span>
          </h5>
        </div>
        <div class="user-info" style="margin-left: 24px; margin-bottom: 30px">
          <h6 class="username" style="color: white">
            Balance: <span style="color: #04bade">$34534</span>
          </h6>
        </div>
        <a th:href="@{/}">
          <i class="fa-solid fa-house" style="margin-right: 5px"></i> Home</a
        >
        <a th:href="@{/addIncome}">
          <i class="fa-solid fa-plus" style="margin-right: 5px"></i> Add Income</a
        >
        <a th:href="@{/addExpense}">
          <i class="fa-solid fa-plus" style="margin-right: 5px"></i> Add Expense</a
        >

        <div>
          <a
                  class="dropdown-toggle"
                  href="#"
                  role="button"
                  id="dropdownMenuLink5"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
          >
            <i class="fa-solid fa-clipboard-list" style="margin-right: 10px"></i>Record
          </a>

          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" href="#">Income Record</a>
            <a class="dropdown-item" href="#">Expense Record</a>
          </div>
        </div>
        <!-- Default dropend button -->
        <div class="dropend" style="display: flex; justify-content: left; width: 230px">
          <a
                  href="#"
                  class="dropdown-toggle border-0"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                  style="width: 230px; background: none; border: none; outline: none"
          >
            <i class="fa-solid fa-clipboard-list" style="margin-right: 10px"></i>Income
            By Date
          </a>
          <ul class="dropdown-menu" style="background-color: #24272e">
            <li>
              <a
                      href="#"
                      class="dropdown-item"
                      data-bs-toggle="modal"
                      data-bs-target="#exampleModal"
              >Choose Date</a
              >
            </li>
            <li><a class="dropdown-item" href="#">Current Week</a></li>
            <li><a class="dropdown-item" href="#">Current Month</a></li>
            <li><a class="dropdown-item" href="#">Last 6 Months</a></li>
            <li><a class="dropdown-item" href="#">Current Year</a></li>
          </ul>
        </div>
        <div class="dropend" style="display: flex; justify-content: left; width: 230px">
          <a
                  href="#"
                  class="dropdown-toggle border-0"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                  style="width: 230px; background: none; border: none; outline: none"
          >
            <i class="fa-solid fa-clipboard-list" style="margin-right: 10px"></i>Expense
            By Date
          </a>
          <ul class="dropdown-menu" style="background-color: #24272e">
            <li>
              <a
                      href="#"
                      class="dropdown-item"
                      data-bs-toggle="modal"
                      data-bs-target="#exampleModalExpense"
              >Choose Date</a
              >
            </li>
            <li><a class="dropdown-item" href="#">Current Week</a></li>
            <li><a class="dropdown-item" href="#">Current Month</a></li>
            <li><a class="dropdown-item" href="#">Last 6 Months</a></li>
            <li><a class="dropdown-item" href="#">Current Year</a></li>
          </ul>
        </div>
        <a href="#"
        ><i class="fa-solid fa-circle-info" style="margin-right: 5px"></i>About</a
        >
        <a href="/logout"
        ><i class="fa-solid fa-right-from-bracket" style="margin-right: 8px"></i
        >Logout</a
        >

      </div>

      <div class="content">
        <div class="centering">
          <div style="display: flex; flex-direction: row;">
            <img style="width: 60px; height: 60px; margin-right: 27px;" src="/images/title_money.png">
            <h2 style="font-size: 40px;">
            <strong>EMPOWER YOUR <span style="color: #e92a32">FINANCIAL</span> JOURNEY</strong>
            </h2>
          </div>
          
          <p>Your Personalized Gateway to Smart Money Management</p>
          <div
            style="
              width: 1000px;
              display: flex;
              flex-direction: row;
              justify-content: space-between;
              align-items: center;
            "
          >
            <div style="width: 500px; display: flex; flex-direction: column">
              <h2>
                <i class="fa-solid fa-coins" style="margin-right: 5px"></i> <strong>SAVE
                YOUR <span style="color: orange">MONEY</span>
              </strong></h2>
              <h5 style="color: grey">
                Empower your financial journey with our personal finance
                application and take control of your expenses effortlessly.
              </h5>
            </div>

            <img
              style="width: 400px; height: 235px; margin-top: 60px"
              src="/images/home_money.png"
            />
          </div>
          <div
            style="
              margin-top: 100px;
              width: 900px;
              display: flex;
              flex-direction: row;
              justify-content: space-around;
            "
          >
            <div
              class="card"
              style="
                width: 400px;
                background-color: white;
                border-radius: 5px;
                box-shadow: 4 4px 6px 0 rgba(0, 0, 0, 0.5);
              "
            >
              <div
                class="card-body"
                style="
                  display: flex;
                  align-items: center;
                  flex-direction: column;
                "
              >
                <div style="display: flex; flex-direction: row;">
                  <img src="images/balance.png" style="width: 35px; height: 35px; margin-right: 10px;">
                  <h3><strong>Balance</strong> </h3>
                </div>
                <h1 style="color: #04bade">$234523</h1>
              </div>
            </div>
            <div
              class="card"
              style="
                display: flex;
                align-items: center;
                width: 400px;
                background-color: white;
                border-radius: 5px;
                box-shadow: 4 4px 6px 0 rgba(0, 0, 0, 0.5);
              "
            >
              <div
                class="card-body"
                style="
                  display: flex;
                  align-items: center;
                  flex-direction: column;
                "
              >
                <div style="display: flex; flex-direction: row;">
                  <img src="images/total_expense.png" style="width: 35px; height: 35px; margin-right: 10px;">
                  <h3><strong>Total Expense</strong></h3>
                </div>
                <h1 style="color: #e92a32">$2344</h1>
              </div>
            </div>
          </div>

          <canvas
            id="myChart"
            style="width: 10px; height: 7px; max-width: 50%; margin-top: 100px"
          ></canvas>
          <div
            style="
              display: flex;
              flex-direction: row;
              justify-content: space-between;
              margin-top: 100px;
            "
          >
            <div style="width: 400px; height: 350px; margin-right: 100px">
              <canvas
                id="barDay"
                style="margin-top: 40px; height: 400px"
              ></canvas>
            </div>
            <div style="width: 400px; height: 350px">
              <canvas
                id="barWeek"
                style="margin-top: 40px; height: 400px"
              ></canvas>
            </div>
          </div>

          <div
            style="
              display: flex;
              flex-direction: row;
              justify-content: space-between;
              margin-top: 100px;
            "
          >
            <div style="width: 400px; height: 350px; margin-right: 100px">
              <canvas
                id="barMonth"
                style="margin-top: 40px; height: 400px"
              ></canvas>
            </div>
            <div style="width: 400px; height: 350px">
              <canvas
                id="barYear"
                style="margin-top: 40px; height: 400px"
              ></canvas>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script>
      function validateDates() {
        var startDate = document.getElementById("startDateInput").value;
        var endDate = document.getElementById("endDateInput").value;

        if (startDate > endDate) {
          alert("End date must be equal to or after the start date.");
          return false; // Prevent form submission
        }

        return true; // Allow form submission
      }

      document.getElementById('enableCategory').addEventListener('change', function () {
        var categorySelect = document.getElementById('categorySelect');
        categorySelect.disabled = !this.checked;
    });
    </script>
    <script src="js/script.js" defer></script>
    <script src="js/financeMonthlyChart.js" defer></script>
    <script src="js/barChartMonth.js" defer></script>
    <script src="js/barChartYear.js" defer></script>
    <script src="js/barChartDay.js" defer></script>
    <script src="js/barChartWeek.js" defer></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
  </body>
</html>
